/* Asset.module.css */

.headerDashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tableSeal {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.headerDashboard h1 {
  font-size: 2.4rem;
  font-weight: 800;
}

.navRooms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.navRooms div {
  font-size: 2.4rem;
  font-weight: 800;
  cursor: pointer;
}

.inputDateWraper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 40%;
  gap: 16px;
}

/* Asset.module.css */

.tableDetail {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.tableDetail::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.tableDetail::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tableDetail::-webkit-scrollbar-thumb {
  background-color: #8b0000; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #f1f1f1; /* Padding around thumb */
}

.tableDetail::-webkit-scrollbar-thumb:hover {
  background-color: #690303; /* Darker color on hover */
}

.tableDetail::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Corner background */
}

.assetTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.assetTable th,
.assetTable td {
  border: 1px solid #eee;
  padding: 8px;
  text-align: left;
  font-size: 1.8rem;
}

.assetTable th {
  background-color: #8b0000;
  color: var(--foreground1b-color);
  font-weight: 600;
}

.sticky {
  position: sticky;
  background: #8b0000;
  color: var(--foreground1b-color);
  transform: translateY(-1px);
  z-index: 1;
}

.stickyHeader {
  top: 0;
  z-index: 2; /* Ensure header has higher stacking context */
}

.stickyColumn {
  left: 0;
  z-index: 3; /* Ensure first column has higher stacking context */
}

.sticky.stickyColumn {
  z-index: 4; /* Ensure top-left cell has highest stacking context */
}

.btnEdit,
.btnDelete {
  cursor: pointer;
  border-radius: 5px;
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnEdit {
  background-color: #48e27c;
}

.btnDelete {
  background-color: var(--background1-color);
}

.btnEdit img,
.btnDelete img {
  width: 11px;
  height: 11px;
}

.btnRow {
  background-color: var(--background1-color);
  color: var(--foreground1b-color);
  padding: 0;
  margin: 0;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.groupingChoice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.cardChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--background1-color);
  border-radius: 20px;
  padding: 1.5rem;
  cursor: pointer;
  -webkit-box-shadow: 5px 7px 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 7px 10px 2px rgba(0, 0, 0, 0.3);
}

.cardChoice h2 {
  font-size: 5rem;
  text-align: center;
  color: var(--foreground1a-color);
}

.addButton {
  background-color: #fcd100;
  color: var(--background1-color);
  padding: 10px 16px;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
}

.noData {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noData p {
  font-size: 3.2rem;
  font-weight: 500;
}

.sectionInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.posisiInput {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.textTitleInput {
  font-size: 2rem;
  font-weight: 600;
  color: var(--foreground2-color);
}
.textTitle {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--foreground2-color);
}

.containerInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.inputAsset {
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 2.1rem;
  border-radius: 5px;
  padding: 7px 10px;
  border: 1px solid #333;
  width: 200px;
  color: #333;
  font-family: "Mohave", sans-serif;
}

.inputAsset:focus {
  border: 2px solid #0ecbc0;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  flex-wrap: wrap;
}

.selectAsset {
  width: 200px;
  font-size: 4rem;
}
.inputDate {
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 2.1rem;
  border-radius: 5px;
  padding: 7px 10px;
  border: 1px solid #333;
  width: 200px;
  color: #333;
  font-family: "Mohave", sans-serif;
}
.inputFile {
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 2.1rem;
  border-radius: 5px;
  padding: 7px 10px;
  border: 1px solid #333;
  width: 270px;
  color: #333;
  font-family: "Mohave", sans-serif;
}

.errorMessage {
  font-size: 2rem;
  color: red;
}

.buttonSubmit {
  font-size: 2rem;
  background-color: var(--background1-color);
  color: var(--foreground1a-color);
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 2.5rem;
  width: 100%;
}

.paginationContainer p {
  cursor: pointer;
  font-weight: 600;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.paginationContainer p:hover {
  background-color: #fcd100;
}

.paginationContainer button {
  cursor: pointer;
  font-weight: 600;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s;
  background: none;
  color: #333;
  font-size: 1.8rem;
}

.paginationContainer button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.paginationContainer button:hover:not(:disabled) {
  background-color: #fcd100;
}

.paginationEllipsis {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dapotButtonsCategoryWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  margin: 0px 1px;
  margin-bottom: 1px;
}

.pageButton {
  background-color: #fff;
  color: var(--foreground1a-color);
  padding: 10px 16px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  text-align: center;
  box-shadow: inset -0px -0px 2px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 2px 0px rgba(252, 159, 159, 0.5);
}

.tableWrapper {
  width: 100%;
  height: 100%;
}

.cardsDetailDeck {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.detailSubCategory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  overflow: auto;
}

.detailSubCategory::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.detailSubCategory::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.detailSubCategory::-webkit-scrollbar-thumb {
  background-color: #8b0000; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #f1f1f1; /* Padding around thumb */
}

.detailSubCategory::-webkit-scrollbar-thumb:hover {
  background-color: #690303; /* Darker color on hover */
}

.detailSubCategory::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Corner background */
}
