.cardValueContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
}

.cardValueContainer h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.cardValueContainer p {
  font-size: 3.5rem;
  font-weight: 500;
}

.cardValueContainerHomeThermal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
}

.cardValueContainerHomePower {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
}

.cardExplainParameter {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
  width: 100%;
  font-size: 2rem;
}

.cardParameterHome {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 32px;
}

.parameterTemperature,
.parameterHumidity,
.parameterPue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.parameterTemperature h2,
.parameterHumidity h2,
.parameterPue h2 {
  font-size: 2rem;
}
.parameterTemperature h3,
.parameterHumidity h3,
.parameterPue h3 {
  font-size: 2rem;
}

.parameterCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.color1 {
  background-color: #0ecbc0;
  width: 3rem;
  height: 3rem;
}

.color2 {
  background-color: #56cb0e;
  width: 3rem;
  height: 3rem;
}

.color3 {
  background-color: #cb300e;
  width: 3rem;
  height: 3rem;
}

.color4 {
  background-color: #fcfd11;
  width: 3rem;
  height: 3rem;
}
.color5 {
  background-color: #ddd;
  width: 3rem;
  height: 3rem;
}

.cardDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 5px 7px 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 7px 10px 2px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
}

.cardDetailTitle,
.cardDetailContentRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: 700;
}

.cardDetailContentAll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: first baseline;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.cardDetailContentRow.fixedWidthRow {
  width: 320px;
}

.cardImageContentRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  max-width: 100%;
}
.cardImageContentColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.imageDeviceDetail {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or 'contain', 'fill', 'scale-down', 'none' */
}

.tooltip {
  position: absolute;
  top: -10px; /* Adjust this value based on desired tooltip position */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1.2rem;
  white-space: nowrap;
  z-index: 100; /* Ensure tooltip is on top */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.cardValueContainer:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
