.cardValueContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding: 1rem;
  border-radius: 10px;
}

.cardValueContainer h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.cardValueContainer p {
  font-size: 3.5rem;
  font-weight: 500;
}
