.circleButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #808080;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;

  top: 0;
  transform: translateX(0px);

  position: absolute;
  opacity: 1;
  visibility: visible;

  transition: all 0.3s ease-out;
}

.circleButton.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100px);
}

.buttonName {
  position: absolute;
  transition: all 0.2s ease-in;
  opacity: 1;
  top: 50%;
  left: 50%;

  font-size: 3rem;

  transform: translate(-50%, -50%);
  visibility: visible;
}

.buttonName.hide {
  opacity: 0;
  visibility: hidden;
}

.circleButton img {
  width: 28px;
  height: 31px;
}

.label {
  font-size: 2.4rem;
  font-weight: 600;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 7rem;
  overflow: hidden;

  position: relative;
}
