.loadingWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadingWrapper h4 {
  font-size: 4rem;
}

.containerNotFound {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.imageChange {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imageFront {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.041);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageBack {
  display: none;
}

.buttonChangeImage {
  font-size: 2rem;
  font-weight: 600;
  background-color: #2fdfd6;
  padding: 0.4rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.buttonChangeImage:hover {
  background-color: #0ecbc0;
}
